body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background: #121212;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #333;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 3px solid #121212;  /* отступ вокруг бегунка */
  }